- name: Déploiement avec Ansible
  hosts: all
  become: yes

  tasks:
    - name: Mettre à jour les paquets
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Installer nginx
      apt:
        name: nginx
        state: present

    - name: Vérifier la configuration Nginx
      command: nginx -t
      ignore_errors: yes

    - name: Démarrer nginx
      service:
        name: nginx
        state: started
        enabled: yes
