- hosts: all
  become: yes
  tasks:
    - name: Mettre à jour les paquets
      apt:
        update_cache: yes

    - name: Installer nginx
      apt:
        name: nginx
        state: present

    - name: Déployer la page d'accueil personnalisée
      template:
        src: index.html.j2
        dest: /usr/share/nginx/html/index.html
